- @avatar ||= @user.avatar

-# = avatar_for current_user, 'huge'
-# - url = current_user.avatar ? edit_me_avatar_path(current_user.avatar) : new_me_avatar_path
-# .p= link_to_modal(:upload_image.t, url, icon: 'picture_edit')

= form_for @user, url: me_settings_path do |user_form|
  = formy(:horizontal_form) do |formy|
    - formy.label :display.t
    - formy.row do |r|
      - r.label :username.t
      - r.input text_field('user','login', class: 'form-control')
    - formy.row do |r|
      - r.label :display_name.t
      - r.input text_field('user','display_name', class: 'form-control')
    - formy.row do |r|
      - r.label :icon.t
      - r.input avatar_field(current_user)
      - r.input remove_image_link(current_user) if current_user.avatar
    - formy.label :notification.t
    - formy.row do |r|
      - r.label :email.t
      - r.input text_field('user','email', class: 'form-control')
    - formy.row do |r|
      - r.label :notice.t
      - r.info :do_you_want_to_receive_email_notifications.t
      - r.input select 'user', 'receive_notifications',
        [ [I18n.t('notification_select.none'), ""],
          [I18n.t('notification_select.single'), "Single"],
          [I18n.t('notification_select.digest'), "Digest"] ],
        {}, class: 'form-control'
    = user_form.fields_for :pgp_key, @user.pgp_key do |key_fields|
      - formy.label :pgp_key.t
      - formy.row do |r|
        - r.label :pgp_public_key.t
        - r.info :pgp_key_description.t
        - r.input key_fields.text_area(:key, rows: 5, class: 'form-control', placeholder: "Enter a public PGP Key")
      - if @user.pgp_key.fingerprint
        - formy.row do |r|
          - r.label :fingerprint.t
          - r.input @user.pgp_key.fingerprint
    - formy.label :locale.t
    - formy.row do |r|
      - r.label :language.t
      - r.input select('user', 'language', all_languages_for_select, { include_blank: true }, class: 'form-control')
    - formy.row do |r|
      - r.label :time_zone.t
      - r.input time_zone_select('user', 'time_zone', nil, {include_blank: true}, {class: 'form-control'})
    - formy.button submit_tag(:save_button.t, class: 'btn btn-primary')
